h1
{
color: blue ;
}
body
{
background-image: url("https://www.voyagespierre.fr/Vie-animale-vegetale/Douai.gif");
color : white ;
}
.texte
{
font-family : arial ;
text-align : center ;
color : red ;
}